*.class
*.sw*
build/*
dist/*
bin/*
tmp/*
*.log
*~
.idea
*.iml
.classpath
.project
*.cache
lib-*
#*#
*.error
pmd.xml
checkstyle.xml
findbugs.xml
.settings/*
*.launch
*.old
*.ver


